@import "buttons"
@import "forms"
@import "mixins"

@import "briefs"

body
  background-color: #fff
  font-family: 'Roboto', sans-serif

/* wrap HTML source code */
xmp
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

.container
  @include centerer

.briefcase-title
  font-size: 56
  margin-bottom: 0
  color: #555

.briefcase-logo
  float: left
  height: 135px
  width: 135px
  margin-top: 8%
  margin-right: 15px

#title-bar
  height: 65px
