#briefs
  background-color: #fbfbfb
  margin: auto
  padding-bottom: 15px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  color: 000
  width: 80%

.selectable
  color: #555
  text-decoration: underline
  &:hover
    cursor: pointer

.highlight
  background-color: #F3F315

.pill
  display: inline-block
  font-size: 1em
  padding: 1.1em 1.1em
  line-height: 1.333333333
  font-weight: normal
  background-color: #FBFBFB
  border: 0.07143em solid #FFF
  border-radius: .2em
  color: #FF530D
  text-decoration: none
  margin: .2em

.pill:hover
  background-color: #FF6526
  border-color: #FF6526
  text-decoration: none
  border-bottom-color: #E83014
  color: #FFF

.active
  background-color: #FF530D
  color: #FFF
