%html
  %head
    %title Briefcase
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Roboto:400,700,300'}
    %link{rel: 'stylesheet', type: 'text/css', href: "#{stylesheet_path 'base'}"}
    %script{src: "#{javascript_path 'application'}"}
    %script{src: "https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=html"}

  %body
    = yield
