%html
  %head
    %title Briefcase
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Roboto:400,700,300'}
    %link{rel: 'stylesheet', type: 'text/css', href: "#{stylesheet_path 'base'}"}

  %body
    = yield
