#title-image
  %img{class: 'briefcase-logo', src: "#{image_path 'briefcase.png'}"}

.content
  %h1{class: 'briefcase-title'} Briefcase
  %form{method: 'post', action: 'brief'}
    %input{name: 'search_url', placeholder: 'Enter a URL to get the briefs', size: 35, class: 'form-input'}
    %input{type: 'submit', value: 'Brief me!', class: 'btn'}
